# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# SQLite database
financial_data.db

# IDE / Editor
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Mac / Windows specific
.DS_Store
Thumbs.db